//! **************************************************************************
// Written by: Map P.15xf on Mon Sep 25 19:13:52 2023
//! **************************************************************************

SCHEMATIC START;
COMP "rst" LOCATE = SITE "K4" LEVEL 1;
COMP "display<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "bloqueado<6>" LOCATE = SITE "J13" LEVEL 1;
COMP "display<4>" LOCATE = SITE "M15" LEVEL 1;
COMP "bloqueado<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "display<5>" LOCATE = SITE "H13" LEVEL 1;
COMP "bloqueado<8>" LOCATE = SITE "J16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "display<6>" LOCATE = SITE "G16" LEVEL 1;
COMP "bloqueado<9>" LOCATE = SITE "J14" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "boton" LOCATE = SITE "H4" LEVEL 1;
COMP "clave<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "clave<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "clave<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "clave<3>" LOCATE = SITE "H3" LEVEL 1;
COMP "clave<4>" LOCATE = SITE "G2" LEVEL 1;
COMP "clave<5>" LOCATE = SITE "K15" LEVEL 1;
COMP "clave<6>" LOCATE = SITE "K16" LEVEL 1;
COMP "clave<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "bloqueado<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "bloqueado<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "bloqueado<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "display<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "bloqueado<3>" LOCATE = SITE "N1" LEVEL 1;
COMP "display<1>" LOCATE = SITE "M4" LEVEL 1;
COMP "bloqueado<4>" LOCATE = SITE "T13" LEVEL 1;
COMP "display<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "bloqueado<5>" LOCATE = SITE "L15" LEVEL 1;
SCHEMATIC END;

