#ucf para la Spartan 3S100 con los puntos de los displays 7-seg
#salida del oscilador a 100MHz
#
#NET clk_in LOC=T9;
#
#salida del oscilador a 50MHz
NET Clk_pin LOC=P8;
NET "Clk_pin" FLOAT;

# entradas /salidas puerto serie
NET RX_pin LOC=G5;
NET "RX_pin" FLOAT;
NET TX_pin LOC=J2;
NET "TX_pin" FLOAT;


	#switches placa superior

NET Rst_pin LOC=K4;
NET "Rst_pin" FLOAT;
#NET SW<2> LOC=K3;
#NET SW<3> LOC=K2;
#NET SW<4> LOC=J4;

	#switches placa extendida

#NET switches_pin<0> LOC=P12;
#NET switches_pin<1> LOC=J1;
#NET switches_pin<2> LOC=H1;
#NET switches_pin<3> LOC=H3;
#NET switches_pin<4> LOC=G2;
#NET switches_pin<5> LOC=K15;
#NET switches_pin<6> LOC=K16;
#NET banner_0_switch_pin<7> LOC=F15;
NET banner_0_switch_pin LOC=F15;

#
	#push buttons placa superior
#NET SW2 LOC=E11; 
#NET SW3 LOC=A13; 

	# Push button placa extendida
#NET pushb1 LOC=H4;
#NET pushb2 LOC=L5;
#NET pushb3 LOC=N2;
#NET pushb4 LOC=M3;


#barra de leds placa extendida

#NET leds_pin<0> LOC=L5;
#NET leds_pin<1> LOC=N2;
#NET leds_pin<2> LOC=M3;
NET banner_0_led_pin LOC=N1;
#NET leds_pin<4> LOC=T13;
#NET leds_pin<5> LOC=L15;
#NET leds_pin<6> LOC=J13;
#NET leds_pin<7> LOC=H15;
#NET leds<8> LOC=J16;
#NET banner_0_led_pin<9> LOC=J14;
#NET banner_0_led_pin LOC=J14;
#NET banner_0_led_pin LOC=L5;

 

#Display 7-segmentos 
#
#		   S0
#		   ---
#	    S5	|	|s1
#		    S6
#		   ---
#	    S4	|	|S2
#
#		   ---
#		   S3				punto


#Display 7-segmentos de la placa superior

#net display<0> loc=R10;
#net display<1> loc=P10;
#net display<2> loc=M11;
#NET display<3> loc=M6;
#NET display<4> loc=N6;
#NET display<5> loc=T7;
#NET display<6> loc=R7;
#NET display<7> loc=N11;  # punto



#Display 7-segmentos de la parte izquierda de la placa extendida:

#NET displayi<0> LOC=H14;
#NET displayi<1> LOC=M4;
#NET displayi<2> LOC=P1;
#NET displayi<3> LOC=N3;
#NET displayi<4> LOC=M15;
#NET displayi<5> LOC=H13;
#NET displayi<6> LOC=G16;
#NET displayi<7> LOC=N15;  # punto




#Display 7-segmentos de la parte derecha de la placa extendida

#NET displayd<0> loc=E2;
#NET displayd<1> loc=E1;
#NET displayd<2> loc=F3;
#NET displayd<3> loc=F2;
#NET displayd<4> loc=G4;
#NET displayd<5> loc=G3;
#NET displayd<6> loc=G1;
#NET displayd<7> loc=H4; # punto

###KEYPAD

NET keypad_0_S_pin<3> loc=F2;
NET keypad_0_S_pin<3> iostandard=LVCMOS25;
NET keypad_0_S_pin<2> loc=G4;
NET keypad_0_S_pin<2> iostandard=LVCMOS25;
NET keypad_0_S_pin<1> loc=G3;
NET keypad_0_S_pin<1> iostandard=LVCMOS25;
NET keypad_0_S_pin<0> loc=G1;
NET keypad_0_S_pin<0> iostandard=LVCMOS25;

NET keypad_0_R_pin<3> loc=J14;
NET keypad_0_R_pin<3> iostandard=LVCMOS25;
NET keypad_0_R_pin<2> loc=H14;
NET keypad_0_R_pin<2> iostandard=LVCMOS25;
NET keypad_0_R_pin<1> loc=M4;
NET keypad_0_R_pin<1> iostandard=LVCMOS25;
NET keypad_0_R_pin<0> loc=P1;
NET keypad_0_R_pin<0> iostandard=LVCMOS25;


#### LCD

#NET lcd_pantalla_0_rs_pin LOC=P12;
#Este no se usa en la placa nueva. Sólo se escribe en el lcd.
#NET lcd_pantalla_0_rw_pin LOC=J1; 
#NET lcd_pantalla_0_e_pin LOC=H1;
#NET lcd_pantalla_0_lcd_data_pin<0> LOC=H3;
#NET lcd_pantalla_0_lcd_data_pin<1> LOC=G2;
#NET lcd_pantalla_0_lcd_data_pin<2> LOC=K15;
#NET pantallas_lcd_data_ext<3> LOC=K16;
#NET pantallas_lcd_data_ext<4> LOC=F15;
#NET pantallas_lcd_data_ext<5> LOC=E2;
#NET pantallas_lcd_data_ext<6> LOC=E1;
#NET pantallas_lcd_data_ext<7> LOC=F3;
#
##### BANNER
#
#NET pantallas_col_serial loc=H3;	
#NET pantallas_col_serial iostandard=LVCMOS25;
#
#NET pantallas_col_clk loc=G2;
#NET pantallas_col_clk iostandard=LVCMOS25;
#
#NET pantallas_row_serial loc=P12;
#NET pantallas_row_serial   iostandard=LVCMOS25;
#
#NET pantallas_row_clk loc=J1;
#NET pantallas_row_clk    iostandard=LVCMOS25;
#
#NET pantallas_reset loc=H1;
#NET pantallas_reset 	 iostandard=LVCMOS25;
#
#NET pantallas_reset2 loc=K15;
#NET pantallas_reset2 	 iostandard=LVCMOS25;



#### BANNER

NET banner_0_row_serial_out_pin loc=H3;	
NET banner_0_row_serial_out_pin iostandard=LVCMOS25;

NET banner_0_row_clk_pin loc=G2;
NET banner_0_row_clk_pin iostandard=LVCMOS25;

NET banner_0_col_serial_out_pin loc=P12;
NET banner_0_col_serial_out_pin   iostandard=LVCMOS25;

NET banner_0_col_clk_pin loc=J1;
NET banner_0_col_clk_pin    iostandard=LVCMOS25;

NET banner_0_reset_out_pin loc=H1;
NET banner_0_reset_out_pin 	 iostandard=LVCMOS25;

NET banner_0_reset2_out_pin loc=K15;
NET banner_0_reset2_out_pin 	 iostandard=LVCMOS25;


####LEDS COLORES

#NET leds_rgb_0_red_pin LOC=P12;
#NET leds_rgb_0_green_pin LOC=H1;
#NET leds_rgb_0_blue_pin LOC=J1;

NET led_rgb_0_red_pin LOC=E15;
NET led_rgb_0_green_pin LOC=D16;
NET led_rgb_0_blue_pin LOC=J16;

#NET leds_rgb_2_red_pin LOC=J14;
#NET leds_rgb_2_green_pin LOC=N15;
#NET leds_rgb_2_blue_pin LOC=G16;


###### Motor
#
NET motor_0_pin<0> LOC=L15;
NET motor_0_pin<1> LOC=L5;
NET motor_0_pin<2> LOC=N2;
NET motor_0_pin<3> LOC=M3;
