//! **************************************************************************
// Written by: Map P.15xf on Sat Feb 20 00:53:57 2021
//! **************************************************************************

SCHEMATIC START;
COMP "leds_rgb_1_red_pin" LOCATE = SITE "E15" LEVEL 1;
COMP "leds_rgb_2_red_pin" LOCATE = SITE "J14" LEVEL 1;
COMP "leds_rgb_2_green_pin" LOCATE = SITE "N15" LEVEL 1;
COMP "Clk_pin" LOCATE = SITE "P8" LEVEL 1;
COMP "Rst_pin" LOCATE = SITE "K4" LEVEL 1;
COMP "RX_pin" LOCATE = SITE "G5" LEVEL 1;
COMP "TX_pin" LOCATE = SITE "J2" LEVEL 1;
COMP "leds_rgb_0_green_pin" LOCATE = SITE "H1" LEVEL 1;
COMP "leds_rgb_0_blue_pin" LOCATE = SITE "J1" LEVEL 1;
COMP "leds_rgb_1_blue_pin" LOCATE = SITE "J16" LEVEL 1;
COMP "leds_rgb_1_green_pin" LOCATE = SITE "D16" LEVEL 1;
COMP "leds_rgb_2_blue_pin" LOCATE = SITE "G16" LEVEL 1;
COMP "leds_rgb_0_red_pin" LOCATE = SITE "P12" LEVEL 1;
NET "Clk_pin_BUFGP/IBUFG" BEL "Clk_pin_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

